h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    line-height: 1.2;
}

body {
  padding-bottom:50px;
}

#view {
  width: 100%;
  height: 600px;
}

#view td {
  width: 50%;
  width: 50%;
}

/*#alaskaview {
  background-color: red;
}

#usview {
  background-color: blue;
}*/

#graphs {
  width: 800px;
  margin: 0 auto;
}

#viewgraph {
  padding: 15px;

}

#map {
  height:650px;
  width:100%;
  z-index:0;
}

.leaflet-zoom-anim  .leaflet-zoom-animated {
  duration:2;
}

.leaflet-popup-content {
  text-align: center;
  color: black;
  font-weight: 300;
  width: 175px;
  font-size: 10px;
}

#popupimg {
  color: black;
}

#popupimg img {
  width: 100%;
  height: 75%;
}

iframe {
  width: 100%;
  height: ;
}

#questionTitle {
  font-family: 'Open Sans', sans-serif;
  color: #3887be;
}

.mapboxgl-popup {
    text-align: center;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  left: 10px;
  z-index: 1;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

#menus {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #3887be;
}

#menu {
     background: #fff;
     position:absolute;
     z-index: 1;
     top: 10px;
     right: 10px;
     border-radius: 3px;
     width: 120px;
     border: 1px solid rgba(0,0,0,0.4);
     font-family: 'Open Sans', sans-serif;
 }

 #menu a {
     font-size: 13px;
     color: #404040;
     display: block;
     margin: 0;
     padding: 0;
     padding: 10px;
     text-decoration: none;
     border-bottom: 1px solid rgba(0,0,0,0.25);
     text-align: center;
 }

 #menu a:last-child {
     border: none;
 }

 #menu a:hover {
     background-color: #f8f8f8;
     color: #404040;
 }

 #menu a.active {
     background-color: #3887be;
     color: #ffffff;
 }

 #menu a.active:hover {
     background: #3074a4;
 }